<!DOCTYPE html>
<html>
<head>
  <title> The best title </title>
  Created a html table with 2 columns. <br/>
  They are centered by default and the <br/>
  heading includes the two categories in bold.<br/>
  To display each occupation and percentage, a <br/>
  for loop was used on a variable with contains <br/>
  the dictionary from app.py. Each key and its<br/>
  value is displayed together on each row.<br/>
  <br/> <br/>
</head>
<body>
  Team Name: Red Notebook <br>
  Members: Jude Rizzo and Brandon Chen<br> <br>
  Your random occupation is: {{randOccup}}
  <table style="width:50%">
  <tr>
    <th>Occupation</th>
    <th>Percentage</th>
    <th>Link</th>
  </tr>
  {% for key in bunch %}
    <tr>
      <td>{{key}}</td>
      <td>{{bunch.get(key)[0]}}</td>
      <td><a href = "{{bunch.get(key)[1]}}">Find Your Job!</a></td>
    </tr>
  {% endfor %}
  </table>
</body>
</html>
