{% extends "base.html" %}

    {% block body %}
        <h1> Trivia API </h1>
        <br>
        This API gives a random trivia question.
        <br><br>
        {{question}}
        <br><br>
        {{correctAns}}
        <br>
        {% for answer in wrongAns %}
            {{answer}} <br>
        {% endfor %}
        <br>
        Correct Answer: {{correctAns}}

        <img src = {{pic}}>

    {% endblock %}


    {% block footer %}
        <br><br><br><br><br><br>
        API official website: <br>
        https://opentdb.com/api_config.php <br><br>
        Related API card: <br>
        https://docs.google.com/document/d/1yp2nicOExDYlrEfdvqspD17Kz5c-xMSWHudfmNjJgQ4/edit


    {% endblock %}
