<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title> {% block title %} Login {% endblock %}
      -|- Gir-affable!
    </title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <form action="/login" >
        <p1>Input Username:</p1>
        <input type = "text" name = "user" >
        <br>
        <p1>Input Password:</p1>
        <input type = "text" name = "pass" >
        <br>
        <input type = "submit" name = "sub1" value = "Log In">
    </form>
    {% if e %}
    <p1>{{e}}</p1>
    {% endif %}
    {% endblock %}
  </body>
  {% block footer %}
  <footer>
    <br> &copy Team Giraffe - Calvin Chu, Jude Rizzo <br> "They have long necks" -Einstein
  </footer>
  {% endblock %}
</html>
